In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('marksdata.csv')

In [4]:
data

       Name  Hours  Marks Secured
0   Krishna      4             40
1  Harshith      5             50
2  Srinivas      2             20
3   Sanketh      7             70
4     Kavya      6             60
5   Shalini      8             80
6    Chitra      8             80
7   Rithesh      2             20
8  Spandana      9             90

In [26]:
X=data['Hours']

In [27]:
type(X)

pandas.core.series.Series

In [28]:
#converting pandas into numpy array
X=X.values

In [29]:
type(X)

numpy.ndarray

In [30]:
X.shape

(9,)

In [38]:
#reshaping into 2D
X=X.reshape(9,1)

In [39]:
X.shape

(9, 1)

In [40]:
y=data['Marks Secured']

In [41]:
#Linear regression
from sklearn.linear_model import LinearRegression

In [42]:
#Empty mind
mind=LinearRegression()

In [43]:
mind

LinearRegression()

In [44]:
#training our model to get coefficient/weight
mind=mind.fit(X,y)

In [45]:
#predicting with unknown data
mind.predict([[12]])

array([120.])

In [46]:
#to know weight/coeficient after model trained
mind.coef_

array([10.])

In [47]:
import joblib

In [49]:
#saving the model
mind=joblib.dump(mind,'marks.pk')